<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDENTIFY_ID</key>
	<string>11111111111</string>
	<key>IDENTIFY_NAME</key>
	<string>Igor Duarte</string>
	<key>IDENTIFY_EMAIL</key>
	<string>igor.duarte+ios@dito.com.br</string>
	<key>IDENTIFY_CUSTOM_DATA</key>
	<string>{&quot;age&quot;: 30, &quot;city&quot;: &quot;São Paulo&quot;}</string>
	<key>TRACK_ACTION</key>
	<string>purchase</string>
	<key>TRACK_DATA</key>
	<string>{&quot;product_id&quot;: &quot;123&quot;, &quot;price&quot;: 99.99}</string>
</dict>
</plist>
