DerivedData/
Podfile.lock
Podfile.save
SampleApplication/GoogleService-Info.plist
SampleApplication/Info.plist
xcworkspace/
*.xcuserstate
*.xcscmblueprint
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.app.dSYM
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/xcshareddata/
*.xcodeproj/deriveddata/
.DS_Store
.idea/
.vscode/
*.swp
*.lock
Pods/
.build/
.swiftpm/