name: Android SDK CI

on:
  pull_request:
    paths:
      - 'android/**'
      - '.github/workflows/android.yml'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Grant execute permission for gradlew
      run: chmod +x android/gradlew

    - name: Build Android SDK
      working-directory: android
      run: ./gradlew :dito-sdk:build

    - name: Run Tests
      working-directory: android
      run: ./gradlew :dito-sdk:test

    - name: Run Lint
      working-directory: android
      run: ./gradlew :dito-sdk:lint

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: android-build
        path: android/dito-sdk/build/outputs
        if-no-files-found: ignore

