name: iOS SDK CI

on:
  push:
    branches: [ main, develop ]
    paths:
      - 'ios/**'
      - '.github/workflows/ios.yml'
  pull_request:
    branches: [ main, develop ]
    paths:
      - 'ios/**'
      - '.github/workflows/ios.yml'

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest-stable

    - name: Build iOS SDK
      run: |
        cd ios
        xcodebuild -workspace DitoSDK.xcworkspace -scheme DitoSDK -configuration Release clean build

    - name: Run Tests
      run: |
        cd ios
        xcodebuild test -workspace DitoSDK.xcworkspace -scheme DitoSDK -destination 'platform=iOS Simulator,name=iPhone 15'
